:root {
    --primary-color: rgb(13, 95, 7);
    --secondary-color: rgb(247, 247, 177);
    --accent1-color: #82DBFF;
    --accent2-color: #ffe224;

    --heading-font: 'Arial', sans-serif;
    --paragraph-font: 'Roboto+Serif', Serif;

    --nav-background-color:  #82DBFF;
    --nav-link-color: #333;
    --nav-hover-link-color: #fff; 
    --nav-hover-background-color: #24afffa1;
}


* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}


body {
    font-family: var(--paragraph-font);
    line-height: 1.6;
    max-width: 1200px;
    margin: 0;
    border: 1px solid var(--secondary-color);
    
}

.container {
    background-color: rgb(247, 247, 177, 0.1);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

p, li, a {
    font-family: var(--paragraph-font);
}


header {
    display: grid;
    grid-template-columns: 22rem auto 48px;
    background: var(--secondary-color);
    color: #000;
    align-items: center;
}

header img {
    width: 50%;
    margin: 0 auto;
}

header .profile {
    display: grid;
    grid-template-columns: 8rem auto;
    align-items: center;
}

.title {
    margin-left: -20px;
    margin-top: -30px;
    color: var(--primary-color);
}

.title h1 {
    margin-bottom: 0px;
    font-size: 3rem;
}

.title h4 {
    margin-top: -10px;
    font-size: 0.6rem;
}

nav ul {
   display: flex;
   justify-content: flex-end;
   margin-right: 20px;
   list-style: none;
}

nav a {
    text-decoration: none;
    color: #000;
    padding: 5px 15px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

nav a:hover {
    color: var(--accent2-color);
    font-weight: bold;
    background-color: var(--primary-color);
}

header img:nth-last-child(1) {
    margin-left: -25px;
}

li.active a {
    background-color: rgb(0, 0, 0, 0.05);
}

li.active a:hover {
    background-color: var(--primary-color)
}

/* -----------------hamburger menu------------------- */
#hamburger {
    display: none;
}

/* Main Form Section */

.join-form-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
    /* background-color: rgb(13, 95, 7, 0.1); */
    background-color: rgb(247, 247, 177, 0.5);
    max-width: 900px;
    margin: 20px auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.join-form {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.join-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.join-form label {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
}

.join-form input, .join-form select, .join-form textarea {
    padding: 8px;
    margin-top: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

.join-form input[type="submit"] {
    background-color: #00539C;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.join-form input[type="submit"]:hover {
    background-color: #003f7c;
}




/* Membership Cards */
.membership-cards {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    padding: 10px;
}

.card {
    background-color: rgb(13, 95, 7);
    color: white;
    padding: 20px;
    margin: 10px;
    border-radius: 5px;
    text-align: center;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.card h3 {
    margin-bottom: 10px;
}

.card a {
    color: var(--accent2-color);
    /* color: #fff; */
    background-color: #000;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    cursor: pointer;
}

.card a:hover {
    /* text-decoration: underline; */
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px;
}

.card:hover {
    transform: translateY(-5px);
    opacity: 0.9;
}

/* Modals */
.modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--nav-link-color);
    color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    z-index: 1000;
    max-width: 600px;
}

.modal-content h2 {
    margin-bottom: 15px;
}

.modal-content p {
    margin-bottom: 15px;
    font: 1em sans-serif;
}

.modal-content .close-modal {
    background-color: #00539C;
    color: white;
    border: none;
    padding: 8px 15px;
    cursor: pointer;
    border-radius: 3px;
}

.modal-content .close-modal:hover {
    background-color: #fff;
    color: #00539C;
    font-weight: bold;
    font-size: 1.1rem;
}

/* Initially hide the modal */




/* ----------------------------Footer styles--------------------- */
footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: var(--secondary-color);
    color: #000;
    text-align: left;
    font-size: .8rem;
    padding: 10px;
    justify-items: center;
}


footer .social-media a {
    margin: 0 10px;
}

footer div h4,
footer div p {
    margin-bottom: -10px;
}

footer div p:nth-last-of-type(1) {
    margin-bottom: 10px;
}

footer .social-media img {
    margin-top: 20px;
    width: 30px;
    height: auto;
    transition: transform 0.3s ease, filter 0.3s ease;
}

footer .social-media img:hover {
    transform: scale(1.5);
}