:root {
    --primary-color: rgb(13, 95, 7);
    --secondary-color: rgb(247, 247, 177);
    --accent1-color: #82DBFF;
    --accent2-color: #ffe224;

    --heading-font: 'Arial', sans-serif;
    --paragraph-font: 'Roboto+Serif', Serif;

    --nav-background-color:  #82DBFF;
    --nav-link-color: #333;
    --nav-hover-link-color: #fff; 
    --nav-hover-background-color: #24afffa1;
}


* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}


body {
    font-family: var(--paragraph-font);
    line-height: 1.6;
    max-width: 1200px;
    margin: 0;
    border: 1px solid var(--secondary-color);
    
}

.container {
    background-color: rgb(247, 247, 177, 0.1);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

p, li, a {
    font-family: var(--paragraph-font);
}


header {
    display: grid;
    grid-template-columns: 22rem auto 48px;
    background: var(--secondary-color);
    color: #000;
    align-items: center;
}

header img {
    width: 50%;
    margin: 0 auto;
}

header .profile {
    display: grid;
    grid-template-columns: 8rem auto;
    align-items: center;
}

.title {
    margin-left: -20px;
    margin-top: -30px;
    color: var(--primary-color);
}

.title h1 {
    margin-bottom: 0px;
    font-size: 3rem;
}

.title h4 {
    margin-top: -10px;
    font-size: 0.6rem;
}

nav ul {
   display: flex;
   justify-content: flex-end;
   margin-right: 20px;
   list-style: none;
}

nav a {
    text-decoration: none;
    color: #000;
    padding: 5px 15px;
    transition: background-color 0.5s ease, color 0.5s ease;
}

nav a:hover {
    color: var(--accent2-color);
    font-weight: bold;
    background-color: var(--primary-color);
}

header img:nth-last-child(1) {
    margin-left: -25px;
}

li.active a {
    background-color: rgb(0, 0, 0, 0.05);
}

li.active a:hover {
    background-color: var(--primary-color)
}

/* -----------------hamburger menu------------------- */
#hamburger {
    display: none;
}


/* Thank You Page Styling */
.thank-you-message {
    /* text-align: center; */
    padding: 50px;
    background-color: rgb(13, 95, 7, 0.1);
    max-width: 600px;
    margin: 30px auto;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.confirmation-details p {
    font-size: 1.2em;
    margin: 10px 0;
    font-weight: bold;
}

.confirmation-details p span {
    font-weight: normal;
}

/* ----------------------------Footer styles--------------------- */
footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background: var(--secondary-color);
    color: #000;
    text-align: left;
    font-size: .8rem;
    padding: 10px;
    justify-items: center;
}


footer .social-media a {
    margin: 0 10px;
}

footer div h4,
footer div p {
    margin-bottom: -10px;
}

footer div p:nth-last-of-type(1) {
    margin-bottom: 10px;
}

footer .social-media img {
    margin-top: 20px;
    width: 30px;
    height: auto;
    transition: transform 0.3s ease, filter 0.3s ease;
}

footer .social-media img:hover {
    transform: scale(1.5);
}

/* Responsive Design */
@media (max-width: 768px) {
    .membership-cards {
        flex-direction: column;
        align-items: center;
    }
}