:root {
    --primary-color: rgb(237, 246, 252);
    --secondary-color: rgb(20, 68, 100);
    --accent1-color: #82DBFF;
    --accent2-color: #ffe224;

    --heading-font: 'Arial', sans-serif;
    --paragraph-font: 'Roboto+Serif', Serif;

    --nav-background-color:  #82DBFF;
    --nav-link-color: #333;
    --nav-hover-link-color: #fff; 
    --nav-hover-background-color: #24afffa1;
}

* {
    /* margin: 0;
    padding: 0; */
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
}

header {
    display: grid;
    grid-template-rows: 1fr auto;
    background: var(--nav-link-color);
    color: #fff;
}

header .profile {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    padding: 20px;
}

header .profile img {
    width: 100px;
    height: 100px;
    box-shadow: 0 0 20px rgba(248, 246, 246, 0.5);
}

header h1 {
    text-align: center;
    font-size: 2rem;
}

#menuToggle {
    display: none;
}

nav ul {
   display: flex;
   justify-content: space-around;
   list-style: none;
   margin: 0;
   padding: 10px;
   background-color: var(--secondary-color);
}

nav a {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    color: var(--accent2-color);
    font-weight: bold;
}

main {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: var(--primary-color);
    padding: 10px; 
}

section {
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
}

.course-info {
    grid-column: 1 / 3;
    grid-row: 1 / 2;
}

.course-info p {
    margin-left: 20px;
}

.location {
    grid-column: 3 / 4;
    grid-row: 1 / 2;
}

.location figure {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.location figure img {
    width: 100%;
    min-height: 25vh;
}

.certificates {
    grid-column: 1 / 4;
    grid-row: 2 / 3;
}

section h3 {
    text-align: center;
    padding: 10px;
    margin: 0;
    background-color: var(--nav-link-color);
    color: #fff;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
}

.course-filter {
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 0;
}

.course-filter p {
    cursor: pointer;
    padding: 5px 35px;
    border-radius: 5px;
    background-color: black;
    color: #fff;
}

.course-filter p:hover {
    background-color: #ddc006;
    color: black;
    font-weight: bold;
    transform: scale(1.2);
}

.course-list {
    border-top: #c9c7c7 2px solid;
}

.course-card {
    border-radius: 6px;
    transition: all 0.3s ease;
    min-height: 50px; /* Ensure a minimum height */
}

.course-card:hover {
    transform: scale(1.05);
}

.course-card h3 {
    background: none;
}

.course-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    padding: 10px;
}

.course-details {
    background-color: #fff;
    padding: 10px;
    font-size: .8rem;
}

#total-credits {
    text-align: center;
    font: 1.2em sans-serif;
    padding: 10px;
    margin: 10px;
    background-color: #000;
    color: #fff;
    border-radius: 5px;
}

footer {
    text-align: center;
    padding: 10px;
    background-color: var(--nav-link-color);
    color: #fff;
}

