@media screen and (max-width: 600px)  and (min-width: 300px) {
    main {
        display: flex;
        flex-direction: column;
    }

    header .profile {
        margin-left: -6rem;
    }

    header h1 {
        font-size: 1.5rem;
    }

    /* Navigation Menu */
    /* Hide the nav menu by default */
    #navMenu {
        display: none;
        position: absolute;
        right: 1rem;
        top: 1rem;
    }

    #navMenu ul {
        display: flex;
        flex-direction: column;
        background-color: #fff;
    }

    #navMenu a {
        font-size: 12px;
        color: black;
        
    }

    #navMenu a:hover {
        color: #fff;
        background-color: rgb(158, 5, 5);
        padding: 5px;
        font-size: 13px;
    }

    /* Show the nav menu when the 'show' class is added */
    #navMenu.show {
        display: block;
    }

    #menuToggle {
        display: block;
        position: absolute;
        transform: translate(19rem, 1rem);
        background-color: #fff;
    }
    
    .course-filter {
        gap: 10px;
    }

    .course-list {
        display: flex;
        flex-direction: column;
    }
    
}