/* General Styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
}

.profile img {
    width: 100px;
    border-radius: 50%;
}

header h1 {
    margin: 10px 0;
}

nav ul {
    list-style: none;
    padding: 0;
    display: none;
}

nav.show ul {
    display: block;
}

nav ul li {
    display: inline-block;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

#menuToggle {
    background-color: #333;
    color: white;
    padding: 10px;
    border: none;
    cursor: pointer;
    display: none;
}

@media (max-width: 600px) {
    #menuToggle {
        display: block;
    }

    nav ul {
        display: none;
    }

    nav.show ul {
        display: block;
    }
}

main {
    padding: 20px;
}

h3 {
    font-size: 1.5rem;
}

.course-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.course-item {
    background-color: lightgrey;
    padding: 10px;
    border-radius: 5px;
}

.completed {
    background-color: lightgreen;
}

/* Filter Buttons */
.course-filter {
    margin-bottom: 20px;
}

.course-filter button {
    padding: 10px;
    margin-right: 5px;
    cursor: pointer;
}

/* Footer Styling */
footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}
